POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=name
POSTGRES_PASSWORD=pass
POSTGRES_DB_NAME=securitest

KAFKA_TOPIC_REQ=scan
KAFKA_TOPIC_RES=report
KAFKA_URL=broker:9092
KAFKA_CONSUMER_GROUP_ID=kafka-go-getting-started

SERVER_HOST=securitest-api
SERVER_PORT=3000
SERVER_JWT_SECRET=AZERT123